@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link{ 
  text-decoration: none;
}

a:visited{
   text-decoration: none;
}

a{
  color: white;
}

html, body {
  min-height: 1080px;
}

header{
  background-image: url('https://i.pinimg.com/originals/c9/b8/cc/c9b8cc69047feaa611a7c35dddeb9eaa.png');
  background-attachment: fixed;
  max-width: 1366px;
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: right;
  align-items:flex-start;
  color: white;
}

header img{
  width: 50vw;
}

header nav{
  width: 50vw;
}

header ul{
  display: flex;
  font-size: 2rem;
  list-style: none;
  justify-content: space-evenly;
}

header a:hover{
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

.Section_infos{
  background-image: url('./img/main.png');
  background-size: cover;
  width: 100%;
  height: 80vh;
  padding: 15px 15px 15px 15px;
}

.Section_infos--container{
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  margin-left: 30px;
}

.Section_comics{
  width: 100%;
  height: 230vh;
  background-color:#EEE8AA;
}

.Section_comics h1{
  font-size: 2rem;
  padding: 10px 10px 10px 10px;
}

.Section_comics--images{
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer{
    width: 100%;
    height: 20vh;
    background-color: #129799;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_footer--imagens{
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.container_footer--imagens img{
  padding-left: 3vw ;
}